* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-avatar {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 65%;
    margin-right: 0.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-left: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
    display: flex;
}

section h2 {
    width: 25%;
    position: relative;
}

section h2::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1rem;
    width: 10px;
    height: 100%;
    margin-right: 10px;
    background-color: #0000FF;
}

.content {
    width: 75%;
    padding-left: 1rem;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.large-box {
    width: 100%;
    height: 400px;
    background-image: url("./assets/project-big.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

.link-box-large {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

.link-box-small {
    flex-basis: calc(50% - .5rem);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-width: 10px;
}


.border-box {
    border-color:blueviolet;
    border-style:solid;
    border-width: 10px;
}
.project1-box {
    flex-basis: calc(100%);
    height: 250px;
    background-image: url("./assets/project1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.project2-box {
    flex-basis: calc(100%);
    height: 250px;
    background-image: url("./assets/project2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.project3-box {
    flex-basis: calc(100%);
    height: 250px;
    background-image: url("./assets/project3.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}

.project4-box {
    flex-basis: calc(100%);
    height: 250px;
    background-image: url("./assets/project4.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}

.description-box {
    flex-basis: calc(20%);
    height: 75px;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    margin-right: 85%;
    margin-bottom: 5%;
    font-size: 25px;
    font-weight: bold;
}

.small-description-box {
    flex-basis: calc(20%);
    height: 75px;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    margin-right: 80%;
    margin-top: 20%;
    font-size: 25px;
    font-weight: bold;
}


.contact-info li {
    margin-bottom: 0.5rem;
}

.work-container a {
    color: black;
    text-decoration: none;
  }

  .work-container a:visited {
    color: black;
    text-decoration: none;
  }


